doctype html
html(class="no-js" lang="en")
 head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")

  block title
   title Missing Semicolon
  block styles
   // Webfonts
   link(rel="stylesheet" href="vendor/fonts/fontawesome/stylesheet.css")
   link(rel="stylesheet" href="vendor/fonts/octicons/stylesheet.css")
   // Foundation
   link(rel="stylesheet" href="styles/normalize.css")
   link(rel="stylesheet" href="styles/foundation.css")
   // Custom Stylesheets
   link(rel="stylesheet" href="styles/base.css")
   // TODO: New Favicon
   link(rel="icon" href="assets/images/tribex-logo.png")
  block scripts
   // Dependencies
   script(src="vendor/jquery.js")
   script(src="vendor/jquery.cookie.js")
   script(src="vendor/placeholder.js")
   script(src="vendor/modernizr.js")
   script(src="vendor/moment.min.js")
   script(src="vendor/fastclick.js")
   script(src="vendor/github-activity-feed.js")
   // Custom Scripts
   script(src="scripts/navbar.js")
 body
  block navigation
   nav.main-nav.stuck.clearfix
    img.logo(src='assets/images/face.svg')
    a.name(href='./index.html') Missing Semicolon
    .fa.fa-bars.navbox.clearfix
     ul
      li
       a.active(href='./index.html') Home
      li
       a(href='#/blog') Blog
      li
       a(href='#/resume') Résumé
      li
       a(href='#/projects') Projects
      li
       a(href='#/about') About
      li
       a(href='https://github.com/Tribex')
        | GitHub&nbsp;
        i.fa.fa-github
  block jumbotron
   .row.jumbotron
    h1 Jumbotron
    h4.subheader Kittens
  #main-content
    block content
  block footer
   footer
    p Copyright © Joshua Bemenderfer (Tribex) 2015
    p
     | Technologies: 
     a(href='http://gulpjs.com') Gulp
     |  | 
     a(href='http://sass-lang.com/') Sass
     |  | 
     a(href='http://jade-lang.com') Jade
     |  | 
     a(href='http://foundation.zurb.com') Foundation
    p
     a(href='../old/index.html') Old Theme
  block foundation
   script(src="vendor/foundation.min.js")
   script $(document).foundation()
